.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.toggleGroup {
    text-align: center;
    margin-top: 40px;
}

.form {
    padding-top: 20px;;
    border-radius: 25px;
}
  
.item {
    margin: 30px;
}

.button {
    height: 150px;
    width: 150px;
}